/* Foundation Override
------------------------------------------------------------------- */

html {
     -webkit-font-smoothing: antialiased;
}

body {
    color: #686868;
    font-family: source-sans-pro, sans-serif;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: source-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: 0.5em;
    line-height: 1.2125em;
}

h1 {
    font-size: 2.125em;
}

h2 {
    font-size: 1.5875em;
    margin-bottom: 0.9em;
}

h3,
h4,
h5,
h6 {
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
}

.row {
    padding: 0 20px;
}

code {
    font-family: source-code-pro, monospace;
    color: #686868;
}

p {
    line-height: 1.5;
    margin-bottom: 1.25em;
    text-rendering: optimizeLegibility;
    font-weight: 400;
}

a:active {
    text-decoration: underline;
}

.keystroke,
kbd {
    background-color: #f7f7f7;
    border-color: #dbdbdb;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    color: #686868;
    margin: 0;
    font-family: source-code-pro, monospace;
    font-size: 0.7em;
    padding: 0.025em 0.35em 0em;
}

button,
.button {
    border-color: #0055ad;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.27) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.27) inset;
    font-weight: 400;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
    text-decoration: none !important;
    margin-bottom: 0em;
}

button.large, .button.large {
    padding: 0.8em;
    font-size: 1.25em;
    text-align: left;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    background-color: #288EDF;
    -webkit-transition: background-color 50ms ease-out;
    -moz-transition: background-color 50ms ease-out;
    transition: background-color 50ms ease-out;
}

button:active,
.button:active {
    background-color: #0380e8;
}

ul,
ol,
dl {
  line-height: 1.5;
  list-style-position: inside;
}

blockquote,
blockquote p {
  line-height: 1.5;
}

/* Clearing Styles */

[data-clearing] li {
    float: left;
    margin-right: 2.5%;
    width: 23%;
}

[data-clearing] li.last {
    margin: 0;
}

[data-clearing] img {
    width: 215px;
}

[data-clearing] span {
    color: #fff;
    display: block;
    font-size: 0.8em;
    margin-top: 0.5em;
    text-align: center;
}

.clearing-blackout {
    background: rgba(0, 0, 0, 0.8);
    padding: 60px;
}

.clearing-caption {
    background: transparent;
    color: white;
    line-height: 1.5;
}

.clearing-close {
    color: #ccc;
    display: none;
    padding-left: 0px;
    padding-top: 0px;
}

.clearing-close:hover, .clearing-close:focus {
    color: #fff;
}

@media only screen and (min-width: 48em) {

  .clearing-main-prev {
    left: 0; }
    .clearing-main-prev > span {
      left: 5px;
      border-color: transparent;
      border-right-color: white; }

  .clearing-main-next {
    right: 0; }
    .clearing-main-next > span {
      border-color: transparent;
      border-left-color: white; }

  .clearing-main-prev.disabled,
  .clearing-main-next.disabled {
    opacity: 0; }

  .clearing-assembled .clearing-container .carousel {
    background: transparent !important;
    height: 150px;
    margin-top: 5px; }
      .clearing-assembled .clearing-container .carousel > ul li {
        display: block;
        width: 175px;
        height: inherit;
        padding: 0;
        float: left;
        overflow: hidden;
        margin-right: 20px;
        position: relative;
        cursor: pointer;
        opacity: 0.4; }
        .clearing-assembled .clearing-container .carousel > ul li.fix-height img {
          min-height: 100%;
          height: 100%;
          max-width: none; }
        .clearing-assembled .clearing-container .carousel > ul li a.th {
          border: none;
          -webkit-box-shadow: none;
          box-shadow: none;
          display: block; }
        .clearing-assembled .clearing-container .carousel > ul li img {
          cursor: pointer !important;
          min-width: 100% !important; }
        .clearing-assembled .clearing-container .carousel > ul li.visible {
          opacity: 1; }
  .clearing-assembled .clearing-container .visible-img {
    background: transparent !important;
    overflow: hidden;
    height: 75%; }

  .clearing-close {
    position: absolute;
    top: 0px;
    right: 0px;
    padding-left: 0;
    padding-top: 0; } }

/* Helper
------------------------------------------------------------------- */

.no-bg-img {
    background-image: none !important;
}


/* Theme
------------------------------------------------------------------- */

#header-wrapper {
}

#header {
    height: 62px;
    line-height: 62px;
}

.brackets-logo {
    float: left;
    height: 62px;
    line-height: 60px;
    margin: 0 50px 0 0;
}

.brackets-logo i {
    display: inline-block;
    height: 21px;
    margin: 0 7px 0 0;
    position: relative;
    top: 2px;
    width: 21px;
}

.brackets-logo a {
    color: #000;
    font-size: 25px;
    font-weight: 400;
    text-decoration: none;
    vertical-align: middle;
}

.nav {
    float: left;
    margin-left: -25px;
}

.nav a {
    color: #000;
    font-size: 14px;
    margin: 0 0 0 25px;
}

.nav-selected {
    font-weight: 400;
}

.social-links {
    float: right;
}

.social-links-item {
    display: inline-block;
    height: 22px;
    margin-left: 13px;
    opacity: 0.2;
    text-indent: -99999px;
    -webkit-transition: opacity 300ms ease-out;
    -moz-transition: opacity 300ms ease-out;
    transition: opacity 300ms ease-out;
    vertical-align: middle;
    width: 22px;
}

.social-links-item:hover {
    opacity: 1;
}

#hero-wrapper {
    background: #2fa7fc; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMmZhN2ZjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMmZhN2ZjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMjg4ZWRmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI4OGVkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg,  #2fa7fc 0%, #2fa7fc 50%, #288edf 50%, #288edf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#2fa7fc), color-stop(50%,#2fa7fc), color-stop(50%,#288edf), color-stop(100%,#288edf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #2fa7fc 0%,#2fa7fc 50%,#288edf 50%,#288edf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #2fa7fc 0%,#2fa7fc 50%,#288edf 50%,#288edf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #2fa7fc 0%,#2fa7fc 50%,#288edf 50%,#288edf 100%); /* IE10+ */
    background: linear-gradient(135deg,  #2fa7fc 0%,#2fa7fc 50%,#288edf 50%,#288edf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fa7fc', endColorstr='#288edf',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */


    -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.12);
}

#hero {
    color: #fff;
    height: 345px;
}

#hero h1 {
    color: #fff;
    font-size: 3em;
    margin: 0;
    padding: 1.5em 0 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
}

#hero p {
    font-size: 1.2em;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
    width: 320px;
}

.no-bg-img p {
    width: 30em !important;
    max-width: 95% !important;
}

.button span {
    color: #fff;
    display: block;
    font-size: 0.7em;
    font-weight: 400;
    margin: 0.3em 0 0;
}

#other-downloads {
    color: #7dfffa;
    font-size: .7em;
    padding-left: 1.4em;
}

#sub-hero-wrapper {
    background: #2fa7fc;
    -webkit-box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.12);
    padding: 40px 0;
}

#sub-hero,
#sub-hero h2,
#sub-hero p,
#sub-hero li {
    color: #fff;
}

#sub-hero h2 {
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 0.2em;
}

#sub-hero a {
    color: #7dfffa;
}

.card {
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    line-height: 1.5;
    margin-bottom: 1.25em;
    padding: 0.5em 0.7em;
}

.card footer {
    text-align: right;
}

.date, .comment-count, .vote-count {
    color: #999;
    display: inline-block;
    font-size: 0.7em;
    letter-spacing: 0.09em;
}

.committer-list {
    margin: 0;
    padding: 0;
}

.committer-list li {
    list-style: none;
    padding-bottom: 10px;
}

.committer-list img {
    border-radius: 3px;
    margin-right: 3px;
    width: 27px;
}


#content,
#footer,
#about {
    padding-bottom: 60px;
    padding-top: 60px;
}

#footer-wrapper {
    background: #f8f8f8; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZjhmOGY4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZjhmOGY4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZjRmNGY0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg,  #f8f8f8 0%, #f8f8f8 50%, #f4f4f4 50%, #f4f4f4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f8f8f8), color-stop(50%,#f8f8f8), color-stop(50%,#f4f4f4), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #f8f8f8 0%,#f8f8f8 50%,#f4f4f4 50%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #f8f8f8 0%,#f8f8f8 50%,#f4f4f4 50%,#f4f4f4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #f8f8f8 0%,#f8f8f8 50%,#f4f4f4 50%,#f4f4f4 100%); /* IE10+ */
    background: linear-gradient(135deg,  #f8f8f8 0%,#f8f8f8 50%,#f4f4f4 50%,#f4f4f4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f4f4f4',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

    border-top: 1px solid #eee;
}

.adobe-logo {
    display: block;
    height: 37px;
    margin: 0 auto 0.5em;
    text-indent: -99999px;
    width: 32px;
}

#about p {
    color: #888;
    font-size: 0.8em;
    text-align: center;
}

@media only screen and (max-width: 700px) {

/*
    #hero h1 {
        padding-top: 1em !important;
    }
*/

    #hero p {
        max-width: 95%;
    }

    .mail-icon,
    .irc-icon,
    .youtube-icon {
        display: none;
    }

    .social-links {
        position: absolute;
        top: 3.7em;
        right: 0;
        z-index: 999;
    }
}

/* Sprites
------------------------------------------------------------------- */

#hero {
    background: url(../img/hero.png) no-repeat 403px bottom;
}

#content {
    background: url(../img/bg-brackey-bot.jpg) no-repeat 750px bottom;
}

.brackets-logo i {
    background: url(../img/sprite.png) no-repeat 0 0;
}

.github-icon {
    background: url(../img/sprite.png) no-repeat 0 -35px;
}

.mail-icon {
    background: url(../img/sprite.png) no-repeat -37px -35px;
}

.irc-icon {
    background: url(../img/sprite.png) no-repeat -74px -35px;
    width: 26px !important;
}

.twitter-icon {
    background: url(../img/sprite.png) no-repeat -114px -35px;
}

.google-plus-icon {
    background: url(../img/sprite.png) no-repeat -149px -35px;
}

.facebook-icon {
    background: url(../img/sprite.png) no-repeat -184px -35px;
}

.youtube-icon {
    background: url(../img/sprite.png) no-repeat -219px -35px;
}

.adobe-logo {
    background: url(../img/sprite.png) no-repeat 0 -74px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
    #hero {
        /* Reference the 2x Sprite */
        background-image: url(../img/hero@2x.png);
        /* Translate the 2x sprite's dimensions back to 1x */
        background-size: 563px 288px;
    }

    #content {
        /* Reference the 2x Sprite */
        background-image: url(../img/bg-brackey-bot@2x.jpg);
        /* Translate the 2x sprite's dimensions back to 1x */
        background-size: 215px 336px;
    }

    .brackets-logo i,
    .github-icon,
    .mail-icon,
    .irc-icon,
    .twitter-icon,
    .google-plus-icon,
    .facebook-icon,
    .youtube-icon,
    .adobe-logo {
        /* Reference the 2x Sprite */
        background-image: url(../img/sprite@2x.png);
        /* Translate the 2x sprite's dimensions back to 1x */
        background-size: 258px 124px;
    }
}
