.reveal-modal {
    display: none;
}

/* Foundation Override
------------------------------------------------------------------- */

html {
     -webkit-font-smoothing: antialiased;
}

body {
    color: #77797c;
    font-family: source-sans-pro, sans-serif;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: source-sans-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: black;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: 0.5em;
    line-height: 1.2125em;
}

h1 {
    font-size: 2.125em;
}

h2 {
    font: 300 24px source-sans-pro, sans-serif;
    margin-bottom: 25px;
}

h3,
h4,
h5,
h6 {
    color: #5a5a5c;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
}

h3 a {
    font-weight: 400;
}

hr {
    margin: 0 0 80px;
}

.row {
    padding: 0 20px;
}

code {
    font-family: source-code-pro, monospace;
    color: #686868;
}

p {
    font: 400 14px / 24px source-sans-pro, sans-serif;
    margin-bottom: 30px;
    text-rendering: optimizeLegibility;
}

a {
    color: #2098f5;
    font-weight: 400;
    -webkit-transition: 320ms;
    transition: 320ms;
}

a:hover,
a:focus {
    color: #047edd;
}

a:active {
    text-decoration: underline;
}

#footer a,
#about a {
    color: #98d2ff;
}

#footer a:hover,
#footer a:focus,
#about a:hover,
#about a:focus {
    color: #fff;
}

.keystroke,
kbd {
    background-color: #fff;
    border-color: #bcbcbc;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    color: #000;
    margin: 0;
    font-family: source-code-pro, monospace;
    font-size: 0.7em;
    padding: 0.025em 0.35em 0em;
}

button,
.button {
    font-weight: 400;
    text-decoration: none !important;
    margin-bottom: 0em;
    font-family: inherit;
    -webkit-transition: 320ms;
    transition: 320ms;
}

button.secondary,
.button.secondary {
    background: transparent;
    border: 1px solid #94d0ff;
    color: #2098f5;
    padding: 16px 25px;
    font: 400 14px source-sans-pro, sans-serif;
}

button.secondary:hover,
.button.secondary:hover {
    background: #eef8ff;
    color: #2098f5;
}


button.large,
.button.large {
    padding: 0.7em 1em 0.8em;
    font-size: 1.25em;
    text-align: left;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    background-color: #288EDF;
}

button:active,
.button:active {
    background-color: #0380e8;
}

ul,
ol,
dl {
    list-style-position: inside;
    margin-left: 2px;
    font: 400 14px / 24px source-sans-pro, sans-serif;
}

#footer ul {
    color: #5f6569;
}

blockquote,
blockquote p {
    line-height: 1.5;
}


/* Helper
------------------------------------------------------------------- */

.nobr {
    white-space: nowrap;
}

.no-bg-img {
    background-image: none !important;
}

.columns.collapse {
    padding-left: 0;
}

.last-row {
    padding-bottom: 50px;
}

.on-white {
    color: #8a8b8c;
}

.float-obj {
    float: left;
    margin-right: 18px;
    position: relative;
    top: 7px;
    left: 1px;
}

.intro p {
    color: #4d4d4d;
    font-size: 27px;
    font-weight: 300;
    line-height: 42px;
    margin: 0 auto 80px;    
}

.sub-intro p {
    color: #4f4f52;
    font: 300 18px / 30px source-sans-pro, sans-serif;
    margin-bottom: 30px;
    text-rendering: optimizeLegibility;
}

.link-beside-button {
    display: inline-block;
    font-size: 12px;
    line-height: 1.5;
    margin-left: 21px;
    position: relative;
    top: 9px;
}


/* Theme
------------------------------------------------------------------- */

#extract {
    margin-right: 3px;
    position: relative;
    top: 2px;
}

.hearts {
    color: #db8ea2;
    font-size: 0.69em;
}

#header-wrapper {
    background: rgba(255, 255, 255, 0.92);
    height: 50px;
    left: 0;
    line-height: 50px;    
    position: fixed;
    right: 0;
    top: 0;
    z-index: 998;
}

    /* Banner for promotions */
    #banner {
        padding-top: 1em;
    }

    #banner-wrapper {
        background: #32a229;
        color: #fff;
        margin-top: 50px;
    }

    .banner-text {
        display: inline-block;
        font-size: 21px;
        line-height: 1.5em;
        margin: 0 1em 0.5em 0;
    }

.brackets-logo {
    margin: 0;
    position: absolute;
    top: -1px;
}

.brackets-logo:hover {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
    -webkit-transition: all 3s;
    -moz-transition: all 3s;
    transition: all 3s;
}

.brackets-logo i {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 0 7px 0 0;
    position: relative;
    top: 1px;
}

.brackets-logo a {
    color: #000;
    font: 400 19px / 50px source-sans-pro, sans-serif;
    text-decoration: none;
}

#hamburger {
    display: none;
}

.nav {
    margin: 0 0 0 90px;
}
/* CSS For nav-bar bottom border*/
@media screen and (min-width:892px)
{
        .nav-links > a::after
        {
            content:'';
            position: absolute;
            top:34px;
            border-bottom: 2px solid #000;
            margin-left: 2px;
            margin-right: 2px;
            width:100%;
            left:-2px;
            -ms-transform: scaleX(0); /* IE 9 */
            -webkit-transform: scaleX(0); /* Safari */
            -moz-transform:scaleX(0);/*Mozila*/
            -o-transform:scaleX(0); /* Opera 10.5+*/
            transform: scaleX(0);
            transition: 0.3s;
        }
        .nav-links > a:hover:after
        {
            -ms-transform: scaleX(1); /* IE 9 */
            -webkit-transform: scaleX(1); /* Safari */
            -moz-transform:scaleX(1);/*Mozila*/
            -o-transform:scaleX(1); /* Opera 10.5+*/
            transform: scaleX(1);
        }
}
.nav-links {
    float: left;
}

.nav a {
    font: 400 15px / 50px source-sans-pro, sans-serif;
    color: #8d8e8e;
    margin: 0 0 0 40px;
    position: relative;
    top: 1px;
}

.nav a:hover {
    color: #3d3d3d;
}

.nav a:active {
    text-decoration: none;
}

/*
#blog .nav-blog {
    color: #000;
}
*/

.nowrap {
    white-space: nowrap;
}

.social-links {
    float: right;
}

.nav .social-links-item {
    display: inline-block;
    height: 18px;
    margin-left: 21px;
    opacity: 0.2;
    text-indent: -99999px;
    -webkit-transition: opacity 320ms ease-out;
    -moz-transition: opacity 320ms ease-out;
    transition: opacity 320ms ease-out;
    vertical-align: middle;
    width: 18px;
    -webkit-backface-visibility: hidden; /* To prevent flicker. Could be a safari bug */
    top: -1px;
}

.social-links-item:hover {
    opacity: 0.69;
}

#hero-wrapper {
    background-color: #f0f2f3;
    margin: 50px 0 0;
}

#hero-blog {
    height: 220px;
}

#hero-blog h1 {
    color: #2d2d2d;
    margin-top: 72px;
    font: 300 48px source-sans-pro, sans-serif;
}

#hero h1 {
    color: #2d2d2d;
    font: 300 48px / 56px source-sans-pro, sans-serif;
    margin: 0;
    padding-top: 80px;
    text-align: center;
}

#hero p {
    color: #5a5a5c;
    font: 300 24px / 36px source-sans-pro, sans-serif;
    text-align: center;
    width: 70%;
    margin: 20px auto 80px;
}

#home #hero h1 {
    margin: 0 auto 36px;
    width: 70%;
}

#home #hero h1 a {
    font-weight: 300;
}

#download {
    text-align: center;
}

#download p {
    margin-top: 2px;
    margin-bottom: 45px;
}

#download p > a { /* links below download button */
    font-size: 12px;
    margin-right: 1em;
}

#download p > a:last-child {
    margin-right: 0;
}

#hero-cta-button {
    font: 400 18px source-sans-pro, sans-serif;
    text-align: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

#os-alert {
    display: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 15px 20px;
    width: 350px;
    max-width: 100%;
    background-color: transparent;
    font-size: 15px;
    margin: auto;
}

#banner-button {
    background: #0f761b;
    border: 1px solid #046d04;
    color: #fff;
    margin-bottom: 1em;
}

#banner-button:active {
    background: #095a13;
}

.button span {
    color: #fff;
    display: block;
    font-size: 0.7em;
    font-weight: 400;
    margin: 0;
}

#sub-hero-wrapper {
    padding: 70px 0 0;
}

#sub-hero-wrapper h2 {
    font: 300 24px source-sans-pro, sans-serif;
    margin-bottom: 22px;
}

#contributors {
    overflow: hidden;
    margin: 0 auto;
    -webkit-animation: loading 2s cubic-bezier(1, -0.04, .99, .88);
    animation: loading 2s cubic-bezier(1, -0.04, .99, .88);
}

    @-webkit-keyframes loading {
        from {opacity: 0;}
        to {opacity: 1;}
    }

    @keyframes loading {
        from {opacity: 0;}
        to {opacity: 1;}
    }

#contributors a {
    float: left;
    height: 48px;
    width: 48px;
    -webkit-filter: saturate(96%) opacity(69%);
    filter: saturate(96%) opacity(69%);
    -webkit-transition: 220ms;
    transition: 220ms;
}

#contributors a:hover {
    -webkit-filter: saturate(100%) opacity(100%);
    filter: saturate(100%) opacity(100%);
}

#content-wrapper {
    background-color: #dee9f1;
    padding-top: 80px;
}

#sub-hero-wrapper .button.secondary,
#content-wrapper .button.secondary {
    margin-bottom: 50px;
}

.card {
    background-color: #e8f4fc;
    border-radius: 3px;
    color: #2098f5;
    font: 400 16px / 21px source-sans-pro, sans-serif;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 16px 20px;
    word-wrap: break-word;
}

.card h3 {
    margin-bottom: 1em;
}

.card footer {
    color: #484848;
    font: 300 12px / 18px source-sans-pro, sans-serif;
    text-align: right;
}

.date, .comment-count, .vote-count {
    display: inline-block;
}

.committer-list {
    margin: 0;
    padding: 0;
}

.committer-list li {
    list-style: none;
    padding-bottom: 10px;
}

.committer-list img {
    border-radius: 3px;
    margin-right: 3px;
    width: 27px;
}


#footer,
#about {
    padding-bottom: 90px;
    padding-top: 90px;
}

#footer-wrapper {
    background-color: #13181b;
}

#footer h5 {
    color: #fff;
    font: 300 14px / 24px source-sans-pro, sans-serif;
}

#about {
    padding-top: 0;
}

#about p {
    color: #a6aab2;
    font: 400 13px / 24px source-sans-pro, sans-serif;
    text-align: center;
}

@media only screen and (max-width: 890px) {

    #hero h1 {
        font-size: 36px;
        line-height: 48px;
        width: 100% !important;
    }

    #contribute #hero p {
        font-size: 18px;
        line-height: 27px;
    }
    
    #hamburger {
        color: #fff;
        display: block;
        font-size: 1px;
        height: 22px;
        line-height: 22px;
        overflow: hidden;
        opacity: 0.42;
        position: absolute;
        right: 0;
        text-align: right;
        text-decoration: none;
        top: 18px;
        width: 22px;
    }
    
    #hamburger:hover {
        opacity: 1;
    }
    
    .brackets-logo {
        position: relative;
        left: -30px;
    }

    .nav {
        background: rgba(255, 255, 255, 0.96);
        border-radius: 0 0 5px 5px;
        display: none;
        min-width: 50%;
        position: absolute;
        right: 0;
        top: 50px;
        z-index: 999;
    }

    .nav-links {
        float: none;
    }    

    .nav-links > a {
        color: #484848;
        border-bottom: 1px solid #dfe4e6;
        display: block;
        font-size: 18px;
        line-height: 50px;
        margin: 0;
        padding: 0 18px;
    }



    .social-links {
        float: none;
        padding: 0 18px 0 0;
    }

    .social-links > a {
        margin: 0 0 0 18px;
        opacity: 0.7;        
    }

    .mail-icon,
    .irc-icon,
    .youtube-icon {
        display: none;
    }
}

@media only screen and (max-width: 480px) {

    #hero h1 {
        font-size: 23px;
        line-height: 36px;
        width: 100% !important;
    }
    
    .intro p {
        font-size: 14px;
        line-height: 21px;
    }
    
    #contribute #hero p {
        font-size: 14px;
        line-height: 21px;
    }    

    #contributors a {
        height: 24px;
        width: 24px;
    }

    #starter_issues, #starter_features {
        display: none;
    }
}

@media only screen and (max-width: 890px) and (orientation: landscape) {

    #hamburger {
        color: #fff;
        display: block;
        font-size: 1px;
        overflow: hidden;
    }    

    #header-wrapper {
        left: 0;
        line-height: 50px;
        z-index: 998;
    }    

    .nav {
        background: rgba(255, 255, 255, 0.9);
        border-radius: 0 0 5px 5px;
        display: none;
        margin: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        z-index: 999;
    }

    .nav-links,
    .social-links {
        clear: both;
        display: block;
        float: none;
    }    

    .nav-links > a {
        border: none;
        color: #484848;
        display: block;
        float: left;
        font-size: 12px;
        line-height: 50px;
        margin: 0;
        padding: 0 18px;
    }

    .social-links {
        border-top: 1px solid #d7d7d7;
        line-height: 50px;
    }

    .social-links > a {
        margin-top: -3px;
    }

    #hero-wrapper {
        margin: 50px 0 0;
    }
}

/* Sprites
------------------------------------------------------------------- */

#hamburger {
    background: url(../img/sprite.svg) no-repeat 0 -25px;
}

.brackets-logo i {
    background: url(../img/sprite.svg) no-repeat 0 0;
    background-size: 18px 94px;
}

.github-icon {
    background: url(../img/sprite.svg) no-repeat 0 -50px;
}

.twitter-icon {
    background: url(../img/sprite.svg) no-repeat 0 -77px;
}

@media only screen and (max-width: 403px) {
    #hero p {
        width: 100%;
    }
}
