.reveal-modal {
    display: none;
}

/* Foundation Override
------------------------------------------------------------------- */

html {
     -webkit-font-smoothing: antialiased;
}

body {
    color: #686868;
    font-family: source-sans-pro, sans-serif;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: source-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: 0.5em;
    line-height: 1.2125em;
}

h1 {
    font-size: 2.125em;
}

h2 {
    font-size: 30px; 
    font-weight: 300;
    margin-bottom: 30px;
    
}

h3,
h4,
h5,
h6 {
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
}

hr {
    margin-bottom: 50px;
}

.row {
    padding: 0 20px;
}

code {
    font-family: source-code-pro, monospace;
    color: #686868;
}

p {
    font-weight: 400;
    font: 300 18px / 30px source-sans-pro;
    margin-bottom: 30px;
    text-rendering: optimizeLegibility;
}

a {
    color: #2098f5;
    -webkit-transition: 420ms;
    transition: 420ms;
}

a:hover,
a:focus {
    color: #047edd;
}

a:active {
    text-decoration: underline;
}

#footer a,
#about a {
    color: #98d2ff;
}

#footer a:hover,
#footer a:focus,
#about a:hover,
#about a:focus {
    color: #fff;
}

.keystroke,
kbd {
    background-color: #f7f7f7;
    border-color: #dbdbdb;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    color: #686868;
    margin: 0;
    font-family: source-code-pro, monospace;
    font-size: 0.7em;
    padding: 0.025em 0.35em 0em;
}

button,
.button {
    font-weight: 400;
    text-decoration: none !important;
    margin-bottom: 0em;
    font-family: inherit;
    -webkit-transition: 420ms;
    transition: 420ms;
}

button.secondary,
.button.secondary {
    background: transparent;
    border: 1px solid #94d0ff;
    color: #2098f5;
    padding: 16px 25px;
    font: 400 14px source-sans-pro;
}

button.secondary:hover,
.button.secondary:hover {
    background: #eef8ff;
    color: #2098f5;
}


button.large,
.button.large {
    padding: 0.7em 1em 0.8em;
    font-size: 1.25em;
    text-align: left;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    background-color: #288EDF;
}

button:active,
.button:active {
    background-color: #0380e8;
}

ul,
ol,
dl {
    list-style-position: inside;
    margin-left: 2px;
    font: 300 14px / 24px source-sans-pro;
}

#footer ul {
    color: #98d2ff;
}

blockquote,
blockquote p {
    line-height: 1.5;
}


/* Helper
------------------------------------------------------------------- */

.no-bg-img {
    background-image: none !important;
}

.columns.collapse {
    padding-left: 0;
}


/* Theme
------------------------------------------------------------------- */

.hearts {
    color: #db8ea2;
    font-size: 0.69em;
}

#header-wrapper {
    background: rgba(255, 255, 255, 0.92);
    height: 50px;
    left: 0;
    line-height: 50px;    
    position: fixed;
    right: 0;
    top: 0;
    z-index: 998;
}

    /* Banner for promotions */
    #banner {
        padding-top: 1em;
    }

    #banner-wrapper {
        background: #32a229;
        color: #fff;
        margin-top: 50px;
    }

    .banner-text {
        display: inline-block;
        font-size: 21px;
        line-height: 1.5em;
        margin: 0 1em 0.5em 0;
    }

.brackets-logo {
    margin: 0;
    position: absolute;
}

.brackets-logo i {
    background: url(../img/brackets-logo-16.svg);
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 0 7px 0 0;
    position: relative;
    top: 1px;
}

.brackets-logo a {
    color: #000;
    font: 400 19px / 50px source-sans-pro;
    text-decoration: none;
}

#hamburger {
    display: none;
}

.nav {
    margin: 0 0 0 90px;
}

.nav-links {
    float: left;
}

.nav a {
    font: 400 15px / 50px 'Source Sans Pro';
    color: #8d8e8e;
    margin: 0 0 0 40px;
    position: relative;
    top: 1px;
}

.nav a:hover {
    color: #5b5c5c;
}

/*
#blog .nav-blog {
    color: #000;
}
*/

.nowrap {
    white-space: nowrap;
}

.social-links {
    float: right;
}

.social-links-item {
    display: inline-block;
    height: 22px;
    margin-left: 13px;
    opacity: 0.2;
    text-indent: -99999px;
    -webkit-transition: opacity 300ms ease-out;
    -moz-transition: opacity 300ms ease-out;
    transition: opacity 300ms ease-out;
    vertical-align: middle;
    width: 22px;
    -webkit-backface-visibility: hidden; /* To prevent flicker. Could be a safari bug */
}

.social-links-item:hover {
    opacity: 1;
}

#hero-wrapper {
    background-color: #f0f2f3;
    margin: 50px 0 0;
}

#hero-blog {
    height: 220px;
}


#hero-blog h1 {
    margin-top: 72px;
    font: 300 48px source-sans-pro;
}

#hero h1 {
    color: #000;
    font: 300 48px / 50px source-sans-pro;
    margin: 0;
    padding-top: 80px;
    text-align: center;
}

#hero p {
    font: 300 18px / 30px source-sans-pro;
    text-align: center;
    width: 51%;
    margin: 20px auto;
}

#download p {
    width: 370px;
}

#download p > a {
    font-size: .7em;
    padding-left: 1.4em;
}

#hero-cta-button {
    background: #2D2E30;
    color: #8fddff;
}

#hero-cta-button:active {
    background: #000;
}

#os-alert {
    display: none;
    border: 1px solid #fff;
    width: 350px;
    max-width: 100%;
    background-color: transparent;
    font-size: 15px;
    margin-bottom: 0;
}

#banner-button {
    background: #0f761b;
    border: 1px solid #046d04;
    color: #fff;
    margin-bottom: 1em;
}

#banner-button:active {
    background: #095a13;
}

.button span {
    color: #fff;
    display: block;
    font-size: 0.7em;
    font-weight: 400;
    margin: 0;
}

#sub-hero-wrapper {
    padding: 40px 0;
}

#sub-hero h2 {
    font: 300 24px source-sans-pro;
}

.card {
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    line-height: 1.5;
    margin-bottom: 1.25em;
    padding: 0.5em 0.7em;
    word-wrap: break-word;
}

.card footer {
    text-align: right;
}

.date, .comment-count, .vote-count {
    color: #999;
    display: inline-block;
    font-size: 0.7em;
    letter-spacing: 0.09em;
}

.committer-list {
    margin: 0;
    padding: 0;
}

.committer-list li {
    list-style: none;
    padding-bottom: 10px;
}

.committer-list img {
    border-radius: 3px;
    margin-right: 3px;
    width: 27px;
}


#content,
#footer,
#about {
    padding-bottom: 90px;
    padding-top: 90px;
}

#footer-wrapper {
    background-color: #13181b;
}

#footer h5 {
    color: #fff;
    font: 300 14px / 24px source-sans-pro;
}

#about {
    padding-top: 0;
}

#about p {
    color: #ffffff;
    font: 300 13px / 24px source-sans-pro;
    text-align: right;
}


@media only screen and (max-width: 480px) {
    #starter_issues, #starter_features {
        display: none;
    }
}


@media only screen and (max-width: 890px) {

    #hamburger {
        color: #fff;
        display: block;
        font-size: 1px;
        height: 22px;
        line-height: 22px;
        overflow: hidden;
        position: absolute;
        right: 10px;
        text-align: right;
        text-decoration: none;
        top: 20px;
        width: 22px;
    }

    .nav {
        background: rgba(255, 255, 255, 0.9);
        border-radius: 0 0 5px 5px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.24);
        display: none;
        min-width: 70%;
        position: absolute;
        right: 0;
        top: 50px;
        z-index: 999;
    }

    .nav-links {
        float: none;
    }    

    .nav-links > a {
        border-bottom: 1px solid #dfe4e6;
        display: block;
        font-size: 18px;
        line-height: 42px;
        margin: 0;
        padding: 0 18px;
    }



    .social-links {
        float: none;
        padding: 0 18px 0 0;
    }

    .social-links > a {
        margin: 0 0 0 18px;
        opacity: 0.7;        
    }

    .mail-icon,
    .irc-icon,
    .youtube-icon {
        display: none;
    }
}

@media only screen and (max-width: 890px) and (orientation: landscape) {

/*
    .brackets-logo {
        height: 42px;
        line-height: 42px;
        position: absolute;
    }

    .brackets-logo i {
        display: inline-block;
        height: 21px;
        margin: 0 6px 0 0;
        position: relative;
        top: 2px;
        width: 21px;
    }
*/

    #hamburger {
        color: #fff;
        display: block;
        font-size: 1px;
        height: 22px;
        line-height: 22px;
        overflow: hidden;
        position: absolute;
        right: 10px;
        text-align: right;
        text-decoration: none;
        top: 10px;
        width: 22px;
    }    

    #header-wrapper {
        height: 42px;
        left: 0;
        line-height: 42px;    
        position: fixed;
        right: 0;
        top: 0;
        z-index: 998;
        -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);    
    }    

    .nav {
        background: rgba(255, 255, 255, 0.9);
        border-radius: 0 0 5px 5px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.24);
        display: none;
        margin: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 42px;
        z-index: 999;
    }

    .nav-links,
    .social-links {
        clear: both;
        display: block;
        float: none;
    }    

    .nav-links > a {
        border: none;
        display: block;
        float: left;
        font-size: 12px;
        line-height: 42px;
        margin: 0;
        padding: 0 18px;
    }

    .social-links {
        border-top: 1px solid #d7d7d7;
        line-height: 42px;
    }

    .social-links > a {
        margin-top: -3px;
    }

    #hero-wrapper {
        margin: 42px 0 0;
    }
}

/* Sprites
------------------------------------------------------------------- */

#hamburger {
    background: url(../img/sprite.png) no-repeat -37px 3px;
}

/*
.brackets-logo i {
    background: url(../img/sprite.png) no-repeat 0 0;
}
*/

.github-icon {
    background: url(../img/sprite.png) no-repeat 0 -35px;
}

.mail-icon {
    background: url(../img/sprite.png) no-repeat -37px -35px;
}

.irc-icon {
    background: url(../img/sprite.png) no-repeat -74px -35px;
    width: 26px !important;
}

.twitter-icon {
    background: url(../img/sprite.png) no-repeat -114px -35px;
}

.google-plus-icon {
    background: url(../img/sprite.png) no-repeat -149px -35px;
}

.facebook-icon {
    background: url(../img/sprite.png) no-repeat -184px -35px;
}

.youtube-icon {
    background: url(../img/sprite.png) no-repeat -219px -35px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
    .brackets-logo i,
    #hamburger,
    .github-icon,
    .mail-icon,
    .irc-icon,
    .twitter-icon,
    .google-plus-icon,
    .facebook-icon,
    .youtube-icon {
        /* Reference the 2x Sprite */
/*        background-image: url(../img/sprite@2x.png);*/
        /* Translate the 2x sprite's dimensions back to 1x */
/*        background-size: 258px 124px;*/
    }
}

@media only screen and (max-width: 403px) {
    #hero {
        background: none;
    }
}
