/* Foundation Override
------------------------------------------------------------------- */

html {
     -webkit-font-smoothing: antialiased;
}

body {
    color: #686868;
    font-family: source-sans-pro, sans-serif;
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: source-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: 0.5em;
    line-height: 1.2125em;
}

h1 {
    font-size: 2.125em;
}

h2 {
    font-size: 1.5875em;
    margin-bottom: 0.9em;
}

h3,
h4,
h5,
h6 {
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
}

.row {
    padding: 0 20px;
}

code {
    font-family: source-code-pro, monospace;
    color: #686868;
}

p {
    line-height: 1.5;
    margin-bottom: 1.25em;
    text-rendering: optimizeLegibility;
    font-weight: 400;
}

a {
    color: #0170c1;
}

a:hover,a:focus {
    color: #1f81cf;
}

a:active {
    text-decoration: underline;
}

.keystroke,
kbd {
    background-color: #f7f7f7;
    border-color: #dbdbdb;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    color: #686868;
    margin: 0;
    font-family: source-code-pro, monospace;
    font-size: 0.7em;
    padding: 0.025em 0.35em 0em;
}

button,
.button {
    border-color: #0055ad;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.27) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.27) inset;
    font-weight: 400;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
    text-decoration: none !important;
    margin-bottom: 0em;
}

button.large, .button.large {
    padding: 0.8em;
    font-size: 1.25em;
    text-align: left;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    background-color: #288EDF;
    -webkit-transition: background-color 50ms ease-out;
    -moz-transition: background-color 50ms ease-out;
    transition: background-color 50ms ease-out;
}

button:active,
.button:active {
    background-color: #0380e8;
}

ul,
ol,
dl {
  line-height: 1.5;
  list-style-position: inside;
}

blockquote,
blockquote p {
  line-height: 1.5;
}


/* Helper
------------------------------------------------------------------- */

.no-bg-img {
    background-image: none !important;
}


/* Theme
------------------------------------------------------------------- */

#header-wrapper {
    background: rgba(255, 255, 255, 0.9);
    height: 62px;
    left: 0;
    line-height: 62px;    
    position: fixed;
    right: 0;
    top: 0;
    z-index: 998;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);    
}

.brackets-logo {
    height: 62px;
    line-height: 60px;
    position: absolute;
}

.brackets-logo i {
    display: inline-block;
    height: 21px;
    margin: 0 7px 0 0;
    position: relative;
    top: 2px;
    width: 21px;
}

.brackets-logo a {
    color: #000;
    font-size: 25px;
    font-weight: 400;
    text-decoration: none;
    vertical-align: middle;
}

#hamburger {
    display: none;
}

.nav {
    margin: 0 0 0 120px;
}

.nav-links {
    float: left;
}

.nav a {
    color: #000;
    font-size: 14px;
    margin: 0 0 0 25px;
}

.nav-selected {
    font-weight: 400;
}

.social-links {
    float: right;
}

.social-links-item {
    display: inline-block;
    height: 22px;
    margin-left: 13px;
    opacity: 0.2;
    text-indent: -99999px;
    -webkit-transition: opacity 300ms ease-out;
    -moz-transition: opacity 300ms ease-out;
    transition: opacity 300ms ease-out;
    vertical-align: middle;
    width: 22px;
    -webkit-backface-visibility: hidden; /* To prevent flicker. Could be a safari bug */
}

.social-links-item:hover {
    opacity: 1;
}

#hero-wrapper {
    background: #2fa7fc; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMmZhN2ZjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMmZhN2ZjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMjg4ZWRmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI4OGVkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg,  #2fa7fc 0%, #2fa7fc 50%, #288edf 50%, #288edf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#2fa7fc), color-stop(50%,#2fa7fc), color-stop(50%,#288edf), color-stop(100%,#288edf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #2fa7fc 0%,#2fa7fc 50%,#288edf 50%,#288edf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #2fa7fc 0%,#2fa7fc 50%,#288edf 50%,#288edf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #2fa7fc 0%,#2fa7fc 50%,#288edf 50%,#288edf 100%); /* IE10+ */
    background: linear-gradient(135deg,  #2fa7fc 0%,#2fa7fc 50%,#288edf 50%,#288edf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2fa7fc', endColorstr='#288edf',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

    margin: 62px 0 0;
}

#hero {
    color: #fff;
    height: 345px;
}

#hero h1 {
    color: #fff;
    font-size: 3em;
    margin: 0;
    padding: 1.5em 0 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
}

#hero p {
    font-size: 1.2em;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
    width: 320px;
}

.no-bg-img p {
    width: 30em !important;
    max-width: 95% !important;
}

#hero-cta-button {
    background: #2D2E30;
    color: #8fddff;
}

#hero-cta-button:active {
    background: #000;
}

.button span {
    color: #fff;
    display: block;
    font-size: 0.7em;
    font-weight: 400;
    margin: 0.3em 0 0;
}

#other-downloads {
    color: #7dfffa;
    font-size: .7em;
    font-weight: 600;
    padding-left: 1.4em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

#sub-hero-wrapper {
    background: #2fa7fc;
    -webkit-box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.12);
    padding: 40px 0;
}

#sub-hero,
#sub-hero h2,
#sub-hero p,
#sub-hero li {
    color: #fff;
}

#sub-hero h2 {
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 0.2em;
}

#sub-hero a {
    color: #7dfffa;
    font-weight: 600;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.card {
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    line-height: 1.5;
    margin-bottom: 1.25em;
    padding: 0.5em 0.7em;
}

.card footer {
    text-align: right;
}

.date, .comment-count, .vote-count {
    color: #999;
    display: inline-block;
    font-size: 0.7em;
    letter-spacing: 0.09em;
}

.committer-list {
    margin: 0;
    padding: 0;
}

.committer-list li {
    list-style: none;
    padding-bottom: 10px;
}

.committer-list img {
    border-radius: 3px;
    margin-right: 3px;
    width: 27px;
}


#content,
#footer,
#about {
    padding-bottom: 60px;
    padding-top: 60px;
}

#footer-wrapper {
    background: #f8f8f8; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZjhmOGY4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZjhmOGY4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZjRmNGY0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg,  #f8f8f8 0%, #f8f8f8 50%, #f4f4f4 50%, #f4f4f4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f8f8f8), color-stop(50%,#f8f8f8), color-stop(50%,#f4f4f4), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #f8f8f8 0%,#f8f8f8 50%,#f4f4f4 50%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #f8f8f8 0%,#f8f8f8 50%,#f4f4f4 50%,#f4f4f4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #f8f8f8 0%,#f8f8f8 50%,#f4f4f4 50%,#f4f4f4 100%); /* IE10+ */
    background: linear-gradient(135deg,  #f8f8f8 0%,#f8f8f8 50%,#f4f4f4 50%,#f4f4f4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f4f4f4',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */

    border-top: 1px solid #eee;
}

#about p {
    color: #888;
    font-size: 0.8em;
    text-align: center;
}

@media only screen and (max-width: 480px) {
    #starter_issues, #starter_features {
        display: none;
    }
}


@media only screen and (max-width: 890px) {
    
    #hamburger {
        color: #fff;
        display: block;
        font-size: 1px;
        height: 22px;
        line-height: 22px;
        overflow: hidden;
        position: absolute;
        right: 10px;
        text-align: right;
        text-decoration: none;
        top: 20px;
        width: 22px;
    }
    
    .nav {
        background: rgba(255, 255, 255, 0.9);
        border-radius: 0 0 5px 5px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.24);
        display: none;
        position: absolute;
        right: 0;
        top: 62px;
        z-index: 999;
    }
    
    .nav-links {
        float: none;
    }    
    
    .nav-links > a {
        border-bottom: 1px solid #d7d7d7;
        display: block;
        font-size: 24px;
        margin: 0;
        padding: 0 25px;
    }
    
    #hero p {
        max-width: 95%;
    }
    
    .social-links {
        float: none;
        margin: 0;
        padding: 0 25px 0 0;
    }
    
    .social-links > a {
        opacity: 0.7;
    }

    .mail-icon,
    .irc-icon,
    .youtube-icon {
        display: none;
    }
}

@media only screen and (max-width: 890px) and (orientation: landscape) {

    .brackets-logo {
        height: 42px;
        line-height: 42px;
        position: absolute;
    }
    
    .brackets-logo i {
        display: inline-block;
        height: 21px;
        margin: 0 7px 0 0;
        position: relative;
        top: 2px;
        width: 21px;
    }

    #hamburger {
        color: #fff;
        display: block;
        font-size: 1px;
        height: 22px;
        line-height: 22px;
        overflow: hidden;
        position: absolute;
        right: 10px;
        text-align: right;
        text-decoration: none;
        top: 10px;
        width: 22px;
    }    

    #header-wrapper {
        background: rgba(255, 255, 255, 0.9);
        height: 42px;
        left: 0;
        line-height: 42px;    
        position: fixed;
        right: 0;
        top: 0;
        z-index: 998;
        -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);    
    }
    
    
    .nav {
        background: rgba(255, 255, 255, 0.9);
        border-radius: 0 0 5px 5px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.24);
        display: none;
        margin: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 42px;
        z-index: 999;
    }
    
    .nav-links,
    .social-links {
        clear: both;
        display: block;
        float: none;
    }    
    
    .nav-links > a {
        border: none;
        display: block;
        float: left;
        font-size: 12px;
        line-height: 42px;
        margin: 0;
        padding: 0 18px;
    }

    .social-links {
        border-top: 1px solid #d7d7d7;
        line-height: 42px;
    }
}

/* Sprites
------------------------------------------------------------------- */

#hamburger {
    background: url(../img/sprite.png) no-repeat -37px 3px;
}

#hero {
    background: url(../img/hero.png) no-repeat 403px bottom;
}

#content {
    background: url(../img/bg-brackey-bot.jpg) no-repeat 750px bottom;
}

.brackets-logo i {
    background: url(../img/sprite.png) no-repeat 0 0;
}

.github-icon {
    background: url(../img/sprite.png) no-repeat 0 -35px;
}

.mail-icon {
    background: url(../img/sprite.png) no-repeat -37px -35px;
}

.irc-icon {
    background: url(../img/sprite.png) no-repeat -74px -35px;
    width: 26px !important;
}

.twitter-icon {
    background: url(../img/sprite.png) no-repeat -114px -35px;
}

.google-plus-icon {
    background: url(../img/sprite.png) no-repeat -149px -35px;
}

.facebook-icon {
    background: url(../img/sprite.png) no-repeat -184px -35px;
}

.youtube-icon {
    background: url(../img/sprite.png) no-repeat -219px -35px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
    #hero {
        /* Reference the 2x Sprite */
        background-image: url(../img/hero@2x.png);
        /* Translate the 2x sprite's dimensions back to 1x */
        background-size: 563px 288px;
    }

    #content {
        /* Reference the 2x Sprite */
        background-image: url(../img/bg-brackey-bot@2x.jpg);
        /* Translate the 2x sprite's dimensions back to 1x */
        background-size: 215px 336px;
    }

    .brackets-logo i,
    #hamburger,
    .github-icon,
    .mail-icon,
    .irc-icon,
    .twitter-icon,
    .google-plus-icon,
    .facebook-icon,
    .youtube-icon {
        /* Reference the 2x Sprite */
        background-image: url(../img/sprite@2x.png);
        /* Translate the 2x sprite's dimensions back to 1x */
        background-size: 258px 124px;
    }
}
