.blog-menu a {
    color: #000000;
    font: 300 18px / 36px source-sans-pro;
}

.blog-menu a:hover,
.blog-menu a:focus {
    color: #2098f5;
}

.blog-menu li {
    list-style: none;
}

.post-date {
    display: block;
    color: #000000;
    font: 400 14px / 24px source-sans-pro;
    margin-left: 8px;
}

.post-author {
    display: block;
    color: #000000;
    font: 300 14px / 24px source-sans-pro;
    margin-left: 8px;
}

.post-tags {
    display: block;
    color: #888888;
    font: 300 14px / 24px source-sans-pro;
    margin-left: 8px;
}

#comments-list {
    list-style: none;
}

.vcard {
    border: none;
}