.blog-menu a {
    color: #000000;
    font: 300 18px / 36px source-sans-pro, sans-serif;
}

.blog-menu a:hover,
.blog-menu a:focus {
    color: #2098f5;
}

.blog-menu li {
    list-style: none;
}

#sub-hero .post h2 {
    color: #000;
    font-size: 36px;
    line-height: 48px;
}

#sub-hero .post p {
    color: #77797c;
    font: 400 18px / 30px source-sans-pro, sans-serif;
}

.post-date {
    display: block;
    color: #000000;
    font: 400 14px / 24px source-sans-pro, sans-serif;
    margin-left: 8px;
}

.post-author {
    display: block;
    color: #000000;
    font: 300 14px / 24px source-sans-pro, sans-serif;
    margin-left: 8px;
}

.post-tags {
    display: block;
    color: #888888;
    font: 300 14px / 24px source-sans-pro, sans-serif;
    margin-left: 8px;
}

#comments-list {
    list-style: none;
}

.comment-author {
    border: none;
    display: block;
    padding: 0;
}

.comment-author img {
    float: left;
}

.comment-author .fn {
    font-size: 14px;
    font-style: normal;
}


